.nav_bar {
  width: 100vw;
  padding: 18px;
  background-color: dodgerblue;
  font-size: 1.4rem;
  color: white;
  text-transform: capitalize;
  letter-spacing: 3px;
  word-spacing: 6px;
  font-family: "Dancing Script", cursive;
}

.nav_bar > div > h1 {
  margin-left: 25px;
}
